.container {
    width: 100%;
    height: 100vh;
    background-color: #f5f6fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubbleUI {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.child {
    width: 100%;
    height: 100%;
}

.active {
    cursor: grabbing;
}

.child>div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}